/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/Menu/style.module.scss ***!
  \****************************************************************************************************************************************************************************************/
.style-module__menu--RXJDT {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -10;
  transition: all 0.3s ease;
}
.style-module__menu--RXJDT.style-module__active--jEADi {
  opacity: 1;
  z-index: 100;
}

.style-module__menu__open--_WlTt {
  display: block;
  color: #00cf4f;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 100;
}

.style-module__phone__icon--kTjYS {
  fill: #fff;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease;
}
.style-module__phone__icon--kTjYS:hover {
  fill: #00cf4f;
}

.style-module__phone--_CvdP {
  width: 216px;
  height: 444px;
  border-radius: 30px;
  border: 1px solid #fff;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.3s ease;
  background-color: #1e1e1e;
}
.style-module__phone--_CvdP.style-module__active--jEADi {
  transform: translate(-50%, -50%);
}

.style-module__phone__wrap--JDAaG {
  width: 94.5%;
  height: 97.5%;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  background-image: url(a535626fd4023fb6f0f8.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.style-module__phone__head--CZ4bg {
  width: 105px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
}

.style-module__time__box--YngLX {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  left: 17px;
  top: 5px;
  z-index: 200;
  transition: all 0.3s ease;
}
.style-module__time__box--YngLX.style-module__active--jEADi {
  color: #000;
}

.style-module__app_panel--FoYhs {
  width: 183px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid #b5b5b5cc;
  align-items: center;
  padding: 0 7px;
  box-sizing: border-box;
}

.style-module__phone__app--MwM62 {
  width: 30px;
  height: 30px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.style-module__phone__app--MwM62 svg {
  border-radius: 8px;
  transition: all 0.2s ease;
}
.style-module__phone__app--MwM62:hover svg {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.style-module__app__notification--DC7Lb {
  width: 13px;
  height: 13px;
  font-size: 10px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -3px;
  top: -3px;
}

.style-module__current__app--JudTt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  background: #fff;
  border-radius: 23px;
  transition: all 0.2s ease;
  z-index: -10;
}
.style-module__current__app--JudTt.style-module__active--jEADi {
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: scale(1);
}
.style-module__current__app--JudTt.style-module__done--GCxdE {
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: scale(1);
}
.style-module__current__app--JudTt.style-module__exit--FHBxb {
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: scale(0);
}
.style-module__current__app--JudTt.style-module__exit__active--_cK_m {
  transform: scale(0);
  z-index: -10;
}

.style-module__app__close--OQ00r {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 0;
}
.style-module__app__close--OQ00r:hover span {
  background-color: #d8d7d7;
}
.style-module__app__close--OQ00r span {
  display: block;
  background-color: gray;
  height: 3px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/Loading/style.module.scss ***!
  \*******************************************************************************************************************************************************************************************/
.style-module__loading--sZkip {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
  padding: 15px 20px;
  border-radius: 40px;
  color: #00cf4f;
  border: 3px solid #00cf4f;
  box-shadow: inset 0 0 0.5em 0 #00cf4f, 0 0 0.5em 0 #00cf4f;
}
/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/ModalWindow/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************/
.style-module__modal--_v84K {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/containers/CodeEditor/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************/
.style-module__editor__component--ggsez {
  padding: 15px 15px;
  margin-left: 70px;
}

.style-module__editor__wrap--reCW6 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.style-module__editor--vOUqx {
  border: 1px solid #00cf4f;
  margin-bottom: 20px;
}

.style-module__editor__button--VkI2t {
  padding: 10px 20px;
  border-radius: 9px;
  background: transparent;
  border: 1px solid #00cf4f;
  color: #00cf4f;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em #00cf4f;
  font-size: 17px;
  cursor: pointer;
  max-width: 150px;
  box-shadow: inset 0 0 0.1em 0 #00cf4f, 0 0 0.1em 0 #00cf4f;
  transition: all 0.2s ease;
}
.style-module__editor__button--VkI2t:hover {
  box-shadow: inset 0 0 1em 0 #00cf4f, 0 0 1em 0 #00cf4f;
}

.style-module__editor__modal--_moiH {
  width: 70%;
  background: #424141;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.style-module__modal__text--_0CfM {
  color: #00cf4f;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 20px;
}

.style-module__modal__button--cd8ap {
  padding: 5px 15px;
  border-radius: 10px;
  color: #00cf4f;
  letter-spacing: 3px;
  font-size: 17px;
  text-align: center;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  border: 1px solid #00cf4f;
  display: block;
  margin-left: auto;
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/containers/Intro/style.module.scss ***!
  \*****************************************************************************************************************************************************************************************/
.style-module__intro_text--VJAR9 {
  color: #00cf4f;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em #00cf4f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/style.module.scss ***!
  \************************************************************************************************************************************************************************/
body {
  background-color: #1e1e1e;
  margin: 0;
  overflow: hidden;
}

.style-module__app--UnCjA {
  position: relative;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: all 0.15s ease;
}

a {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.15s ease;
}
