@import "../../variables.scss";

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  z-index: -10;
  transition: all .3s ease;

  &.active {
   opacity: 1;
   z-index: 100;
  }
}

.menu__open {
  display: block;
  color: $greenNeonColor;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 100;
}

.phone__icon {
  fill: #fff;
  width: 70px;
  height: 70px;
  transition: all .3s ease;

  &:hover {
    fill: $greenNeonColor;
  }
}

.phone {
  width: 216px;
  height: 444px;
  border-radius: 30px;
  border: 1px solid #fff;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  // transform: translate(-50%, -50%);
  transition: all .3s ease;
  background-color: #1e1e1e;

  &.active {
    transform: translate(-50%, -50%);
  }
}

.phone__wrap {
  width: 94.5%;
  height: 97.5%;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  background-image: url('../../assets/robot.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.phone__head {
  width: 105px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
}

.time__box {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  font-family: $montserrat;
  color: #fff;
  left: 17px;
  top: 5px;
  z-index: 200;
  transition: all .3s ease;

  &.active {
    color: #000;
  }
}

.app_panel {
  width: 183px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;

  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid #b5b5b5cc;
  align-items: center;
  padding: 0 7px;
  box-sizing: border-box;
}

.phone__app {
  width: 30px;
  height: 30px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  & svg {
    border-radius: 8px;
    transition: all .2s ease;
  }

  &:hover {
    & svg {
      box-shadow: 0 0 8px rgba(255, 255, 255, .7);
    }
  }
}

.app__notification {
  width: 13px;
  height: 13px;
  font-size: 10px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -3px;
  top: -3px;
}

.current__app {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  background: #fff;
  border-radius: 23px;
  transition: all .2s ease;
  z-index: -10;

  &.active {
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(1);
  }

  &.done {
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(1);
  }

  &.exit {
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(0);
  }

  &.exit__active {
    transform: scale(0);
    z-index: -10;
  }
}

.app__close {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 0;

  &:hover {
    & span {
      background-color: rgb(216, 215, 215);
    }
  }

  & span {
    display: block;
    background-color: gray;
    height: 3px;
    border-radius: 3px;
    transition: all .3s ease;
  }
}