@import "../../variables.scss";

.apps {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.1);
    background: #fff;
    border-radius: 23px;
    transition: all 0.22s ease;
    z-index: -10;
    padding: 30px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    &.active {
      width: 100%;
      height: 100%;
      z-index: 100;
      transform: scale(1);
    }
  
    &.done {
      width: 100%;
      height: 100%;
      z-index: 100;
      transform: scale(1);
    }
  
    &.exit {
      width: 100%;
      height: 100%;
      z-index: 100;
      transform: scale(0);
    }
  
    &.exit__active {
      transform: scale(0);
      z-index: -10;
    }
  }

  .app__close {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 0;
  
    &:hover {
      & span {
        background-color: rgb(216, 215, 215);
      }
    }
  
    & span {
      display: block;
      background-color: gray;
      height: 3px;
      border-radius: 3px;
      transition: all 0.3s ease;
    }
  }

  .message {
    width: 95%;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 169px;
    position: relative;
    cursor: pointer;
  
    &.active:before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 3px;
      left: -7px;
      border-radius: 50%;
      background-color: blue;
    }
  
    &:not(:first-child) .message__data {
      border-bottom: 1px solid rgb(128 128 128 / 23%);
    }
  }
  
  .message__data {
    padding: 5px 0;
    border-top: 1px solid rgb(128 128 128 / 23%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .message__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    overflow: hidden;
    border: 4px solid gray;
  
    &:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 2px;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  
    &:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      height: 20px;
      background-color: #fff;
    }
  }
  
  .message__author {
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    font-family: $montserrat;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
  }
  
  .message__text {
    font-size: 11px;
    color: gray;
    font-family: $montserrat;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
  }
  