@import './variables.scss';

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow: hidden;

}

.app {
    position: relative;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-family: $montserrat;
    transition: all .15s ease;
}

a {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-family: $montserrat;
    text-decoration: none;
    transition: all .15s ease;
}