@import './variables.scss';

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow: hidden;
    font-family: $montserrat;
}

.app {
    position: relative;
    height: 100vh;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    transition: all .15s ease;
    font-family: $montserrat;
}

a {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    transition: all .15s ease;
}

h1,h2,h3 {
    margin: 0;
}